* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    height: 5000px;
}

html,
body {
    scroll-behavior: smooth;
}

/* ===================Common=================== */

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    line-height: 50px;
    border-radius: 999px;
    background: #171100;
    padding: 0px 16px;
    min-width: 118px;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-word;
}

/* ===================Header=================== */
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.nav a {
    color: #5F5B53;
    font-size: 1.6rem;
    padding: 8px 21px;
}

.nav a:hover {
    color: #171100;
    font-weight: 600;
    text-shadow: 1px 0px 0px currentColor;
}

.header .action-btn {
    min-width: 144px;
    font-size: 1.6rem;
    margin-left: 49px;
}

/* ===================Hero=================== */
.hero {
    padding: 56px 0px 65px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0px 0px 130px;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero .hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .hero-summary .item:not(:first-child) {
    margin-top: 14px;
}

.hero .hero-summary .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-summary .item .icon-1 {
    background-color: #FFF9E8;
}

.hero .hero-summary .item .icon-2 {
    background-color: #FCEFFF;
}

.hero .hero-summary .item .icon-3 {
    background-color: #EBEAFF;
}

.hero .hero-summary .item .info {
    margin-left: 16px;
}

.hero .hero-summary .item .info .label {
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.85714;
}

.hero .hero-summary .item .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.hero .content-block .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17241;
    letter-spacing: -1.16px;
}

.hero .content-block .desc {
    margin: 22px 0px 38px;
    color: #5F5B53;
    font-size: 1.8rem;
    line-height: 1.66667;
}

.hero .content-block .desc:nth-of-type(2) {
    margin-top: 48px;
    margin-bottom: 0px;
}

.hero .content-block .cta-group {
    display: flex;
}

.hero .content-block .cta-group .btn {
    min-width: 180px;
    padding: 7px 16px;
    font-size: 1.8rem;
    background: var(--primary);
}

.hero .content-block .cta-group .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero .content-block .cta-group .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .content-block .cta-group .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .content-block .stats {
    margin-top: 8px;
}

.hero .content-block .stats strong {
    padding-right: 8px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22727;
}

.hero .content-block .stats strong:not(:first-child) {
    padding-left: 28px;
}

/* ===================Popular=================== */
.popular {
    margin-top: 135px;
    padding: 65px 0px;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .popular-top .info {
    width: 39%;
}

.popular .popular-top .info .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26316;
    letter-spacing: -0.76px;
}

.popular .popular-top .info .desc {
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.8rem;
    line-height: 1.66667;
}

.popular .popular-top .control {
    display: flex;
    gap: 18px;
}

.popular .popular-top .control .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 50%;
    background-color: transparent;
}

.popular .popular-top .control .control-btn:hover {
    color: #FFF;
    background-color: var(--primary);
    cursor: pointer;
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-list .course-item {
    flex: 1;
    border: 1px solid #E2DFDA;
    background-color: #FFF;
    border-radius: 12px;
}

.popular .course-list .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-list .course-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-list .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-list .course-item .info .head,
.popular .course-list .course-item .info .rating,
.popular .course-list .course-item .info .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-list .course-item .info .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.popular .course-list .course-item .info .value {
    margin-left: 6px;
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.popular .course-list .course-item .info .desc {
    --line-clamp: 3;
    margin-top: 6px;
    
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.85714;
}

.popular .course-list .course-item .info .foot {
    margin-top: 12px;
}

.popular .course-list .course-item .info .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.popular .course-list .course-item .info .book-btn {
    border: none;
}

.popular .course-list .course-item .info .book-btn:hover {
    background-color: var(--primary);
}

/* ===================Feedback=================== */
.feedback {
    margin-top: 135px;
    padding: 96px 0px;
    background: #2E2100;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback .feedback-item .info .avatar{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .feedback-item .info .title {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41667;
}

.feedback .feedback-item .info .desc {
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.85714;
}

.feedback .feedback-item .info .dots {
    display: flex;
    margin-top: 28px;
}

.feedback .feedback-item .info .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
}

.feedback .feedback-item .info .dot:not(.active) {
    cursor: pointer;
}

.feedback .feedback-item .info .active {
    background-color: var(--primary);
}

.feedback .feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback .feedback-item .content blockquote {
    margin-left: 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.53846;
}
